interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/cad.api?date-min=1900-01-01&date-max=2100-01-01&dist-max=0.2&pha=False&nea=False&comet=False&nea-comet=False&neo=False&des=433&body=Earth&sort=date&fullname=False
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL SBDB Close Approach Data API","version":"1.1"},"count":"5","fields":["des","orbit_id","jd","cd","dist","dist_min","dist_max","v_rel","v_inf","t_sigma_f","h"],"data":[["433","656","2426371.671241098","1931-Jan-30
        04:07","0.174073091422169","0.174073025978558","0.174073156866424","5.92081888888135","5.91823309571896","<
        00:01","11.16"],["433","656","2442435.819059905","1975-Jan-23 07:39","0.15113421208202","0.15113420562583","0.151134218538236","5.82530839209108","5.82228117541298","<
        00:01","11.16"],["433","656","2455957.958752783","2012-Jan-31 11:01","0.178675809037771","0.178675798898824","0.178675819176739","5.94519641769685","5.94268758306244","<
        00:01","11.16"],["433","656","2472021.960375883","2056-Jan-24 11:03","0.149782187510494","0.149782176387365","0.149782198633726","5.82075850211372","5.81770156388797","<
        00:01","11.16"],["433","656","2485544.157502711","2093-Jan-31 15:47","0.182463905983893","0.18246381023511","0.182464001733756","5.97491428517007","5.97246977099307","<
        00:01","11.16"]]}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/cad.api?date-min=2010-01-01&date-max=2019-10-28T00%3A00%3A00&dist-max=0.05&pha=False&nea=False&comet=False&nea-comet=False&neo=False&body=Earth&sort=date&fullname=False
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL SBDB Close Approach Data API","version":"1.1"},"count":"5893","fields":["des","orbit_id","jd","cd","dist","dist_min","dist_max","v_rel","v_inf","t_sigma_f","h"],"data":[...]
