interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/cad.api?date-min=1900-01-01&date-max=2100-01-01&dist-max=0.2&pha=False&nea=False&comet=False&nea-comet=False&neo=False&des=433&body=Earth&sort=date&fullname=False
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL SBDB Close Approach Data API","version":"1.3"},"count":"5","fields":["des","orbit_id","jd","cd","dist","dist_min","dist_max","v_rel","v_inf","t_sigma_f","h"],"data":[["433","659","2426371.671249267","1931-Jan-30
        04:07","0.174073145828143","0.174073021249871","0.174073270408642","5.92081853410288","5.91823274159338","<
        00:01","10.42"],["433","659","2442435.819062972","1975-Jan-23 07:39","0.151134190879819","0.151134141782744","0.151134239976902","5.82530768329976","5.82228046582781","<
        00:01","10.42"],["433","659","2455957.958753891","2012-Jan-31 11:01","0.17867581359062","0.178675792496712","0.178675834684529","5.9451959020589","5.94268706727029","<
        00:01","10.42"],["433","659","2472021.960376792","2056-Jan-24 11:03","0.149782176486572","0.149782128520116","0.149782224453053","5.8207578574117","5.8177009186216","<
        00:01","10.42"],["433","659","2485544.157501873","2093-Jan-31 15:47","0.182463884248595","0.182463741490261","0.18246402700921","5.97491362207991","5.97246910733982","<
        00:01","10.42"]]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/cad.api?date-min=2010-01-01&date-max=2019-10-28T00%3A00%3A00&dist-max=0.05&pha=False&nea=False&comet=False&nea-comet=False&neo=False&body=Earth&sort=date&fullname=False
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL SBDB Close Approach Data API","version":"1.3"},"count":"6091","fields":["des","orbit_id","jd","cd","dist","dist_min","dist_max","v_rel","v_inf","t_sigma_f","h"],"data":[...]
