interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasa.gov/planetary/earth/imagery/?lon=100.75&lat=1.5&dim=0.025&cloud_score=False&api_key=m3HUz15Tzj7hucaU1YGnJawk0RXcCh7zZ5SkO8Lk
  response:
    body:
      string: "{\n  \"cloud_score\": 0.9947187123297982, \n  \"date\": \"2014-01-03T03:30:22\",
        \n  \"id\": \"LC8_L1T_TOA/LC81270592014003LGN00\", \n  \"resource\": {\n    \"dataset\":
        \"LC8_L1T_TOA\", \n    \"planet\": \"earth\"\n  }, \n  \"service_version\":
        \"v1\", \n  \"url\": \"https://earthengine.googleapis.com/api/thumb?thumbid=9081d44f6984d0e4791922804beb54a4&token=af4fd53edf9b46090dc81adbffbfe101\"\n}"
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '985'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasa.gov/planetary/earth/imagery/?lon=180&lat=1.5&dim=0.025&cloud_score=False&api_key=m3HUz15Tzj7hucaU1YGnJawk0RXcCh7zZ5SkO8Lk
  response:
    body:
      string: "{\n  \"msg\": \"Internal Service Error\", \n  \"service_version\":
        \"v1\"\n}"
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '984'
    status:
      code: 500
      message: INTERNAL SERVER ERROR
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasa.gov/planetary/earth/imagery/?lon=180&lat=1.5&dim=0.025&date=2019-10-03&cloud_score=False&api_key=m3HUz15Tzj7hucaU1YGnJawk0RXcCh7zZ5SkO8Lk
  response:
    body:
      string: "{\n  \"msg\": \"Internal Service Error\", \n  \"service_version\":
        \"v1\"\n}"
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '983'
    status:
      code: 500
      message: INTERNAL SERVER ERROR
version: 1
