interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/fireball.api?req-loc=False&req-alt=False&req-vel=False&req-vel-comp=False&vel-comp=False&sort=date&limit=1
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Fireball Data API","version":"1.0"},"count":"1","fields":["date","energy","impact-e","lat","lat-dir","lon","lon-dir","alt","vel"],"data":[["1988-04-15
        03:03:10","758","14","4.1","S","124.3","E",null,null]]}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/fireball.api?date-min=2010-01-01&date-max=2020-01-01&req-loc=False&req-alt=False&req-vel=False&req-vel-comp=False&vel-comp=False&sort=date&limit=1
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Fireball Data API","version":"1.0"},"count":"1","fields":["date","energy","impact-e","lat","lat-dir","lon","lon-dir","alt","vel"],"data":[["2010-01-15
        19:17:54","49.2","1.2","8.3","S","27.0","E","25.0","14.0"]]}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
