interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=apollo+11&description=moon+landing&page=1
  response:
    body:
      string: "{\"collection\":{\"href\":\"http://images-api.nasa.gov/search?q=apollo+11&description=moon+landing&page=1\",\"links\":[{\"rel\":\"next\",\"href\":\"http://images-api.nasa.gov/search?page=2&q=apollo+11&description=moon+landing\",\"prompt\":\"Next\"}],\"version\":\"1.0\",\"metadata\":{\"total_hits\":647},\"items\":[{\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/collection.json\",\"links\":[{\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/Apollo 11 Overview~thumb.jpg\",\"rel\":\"preview\",\"render\":\"image\"},{\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/Apollo 11 Overview.srt\",\"rel\":\"captions\"}],\"data\":[{\"nasa_id\":\"Apollo
        11 Overview\",\"title\":\"Apollo 11 Overview\",\"description\":\"Video highlights
        from the historic first manned landing on the moon, during the Apollo 11 mission
        in July 1969.\",\"date_created\":\"2013-05-15T00:00:00Z\",\"center\":\"HQ\",\"media_type\":\"video\",\"keywords\":[\"Apollo
        11\",\"Moon\"]}]},{\"href\":\"https://images-assets.nasa.gov/video/The Flight
        of Apollo 11/collection.json\",\"links\":[{\"href\":\"https://images-assets.nasa.gov/video/The
        Flight of Apollo 11/The Flight of Apollo 11~thumb.jpg\",\"rel\":\"preview\",\"render\":\"image\"},{\"href\":\"https://images-assets.nasa.gov/video/The
        Flight of Apollo 11/The Flight of Apollo 11.srt\",\"rel\":\"captions\"}],\"data\":[{\"nasa_id\":\"The
        Flight of Apollo 11\",\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=apollo+11&page=1&year_start=2013
  response:
    body:
      string: "{\"collection\":{\"version\":\"1.0\",\"items\":[{\"data\":[{\"description\":\"Video
        highlights from the historic first manned landing on the moon, during the
        Apollo 11 mission in July 1969.\",\"media_type\":\"video\",\"title\":\"Apollo
        11 Overview\",\"keywords\":[\"Apollo 11\",\"Moon\"],\"nasa_id\":\"Apo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=apollo+11&page=1&year_end=2015
  response:
    body:
      string: "{\"collection\":{\"href\":\"http://images-api.nasa.gov/search?q=apollo+11&page=1&year_end=2015\",\"links\":[{\"rel\":\"next\",\"href\":\"http://images-api.nasa.gov/search?page=2&q=apollo+11&year_end=2015\",\"prompt\":\"Next\"}],\"version\":\"1.0\",\"metadata\":{\"total_hits\":1037},\"items\":[{\"href\":\"https://images-assets.nas[...]
