interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=apollo+11&description=moon+landing&page=1
  response:
    body:
      string: "{\"collection\":{\"links\":[{\"prompt\":\"Next\",\"href\":\"https://images-api.nasa.gov/search?description=moon+landing&q=apollo+11&page=2\",\"rel\":\"next\"}],\"items\":[{\"data\":[{\"description\":\"Video
        highlights from the historic first manned landing on the moon, during the
        Apollo 11 mission in July 1969.\",\"date_created\":\"2013-05-15T00:00:00Z\",\"center\":\"HQ\",\"keywords\":[\"Apollo
        11\",\"Moon\"],\"nasa_id\":\"Apollo 11 Overview\",\"title\":\"Apollo 11 Overview\",\"media_type\":\"video\"}],\"links\":[{\"render\":\"image\",\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/Apollo 11 Overview~thumb.jpg\",\"rel\":\"preview\"},{\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/Apollo 11 Overview.srt\",\"rel\":\"captions\"}],\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/collection.json\"},{\"data\":[{\"description\":\"The story of
        the first Moon landing in July 1969. Depicts the principal events of the mission,
        from[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=apollo+11&page=1&year_start=2013
  response:
    body:
      string: "{\"collection\":{\"items\":[{\"data\":[{\"nasa_id\":\"Apollo 11 Overview\",\"date_created\":\"2013-05-15T00:00:00Z\",\"title\":\"Apollo
        11 Overview\",\"media_type\":\"video\",\"center\":\"HQ\",\"description\":\"Video
        highlights from the historic first manned landing on the moon, during the
        Apollo 11 miss[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=apollo+11&page=1&year_end=2015
  response:
    body:
      string: "{\"collection\":{\"items\":[{\"data\":[{\"nasa_id\":\"Apollo 11 Overview\",\"date_created\":\"2013-05-15T00:00:00Z\",\"title\":\"Apollo
        11 Overview\",\"media_type\":\"video\",\"center\":\"HQ\",\"description\":\"Video
        highlights from the historic first manned landing on the moon, during the
        Apollo 11 missio[...]
