interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=apollo+11&description=moon+landing&page=1
  response:
    body:
      string: "{\"collection\":{\"href\":\"https://images-api.nasa.gov/search?q=apollo+11&description=moon+landing&page=1\",\"items\":[{\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/collection.json\",\"data\":[{\"description\":\"Video highlights
        from the historic first manned landing on the moon, during the Apollo 11 mission
        in July 1969.\",\"date_created\":\"2013-05-15T00:00:00Z\",\"nasa_id\":\"Apollo
        11 Overview\",\"media_type\":\"video\",\"keywords\":[\"Apollo 11\",\"Moon\"],\"center\":\"HQ\",\"title\":\"Apollo
        11 Overview\"}],\"links\":[{\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/Apollo 11 Overview~thumb.jpg\",\"rel\":\"preview\",\"render\":\"image\"},{\"href\":\"https://images-assets.nasa.gov/video/Apollo
        11 Overview/Apollo 11 Overview.srt\",\"rel\":\"captions\"}]},{\"href\":\"https://images-assets.nasa.gov/video/The
        Flight of Apollo 11/collection.json\",\"data\":[{\"description\":\"The story
        of the first Moon landing in July 1969. Depicts the principal events of the
        mission, from the launching through the post recovery activities of astronauts
        Armstrong, Aldrin, and Collins. Through televis[...]
