interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/asset/as11-40-5874
  response:
    body:
      string: '{"collection":{"items":[{"href":"http://images-assets.nasa.gov/image/as11-40-5874/as11-40-5874~orig.jpg"},{"href":"http://images-assets.nasa.gov/image/as11-40-5874/as11-40-5874~large.jpg"},{"href":"http://images-assets.nasa.gov/image/as11-40-5874/as11-40-5874~medium.jpg"},{"href":"http://images-assets.nasa.gov/image/as11-40-5874/as11-40-5874~small.jpg"},{"href":"http://images-assets.nasa.gov/image/as11-40-5874/as11-40-5874~thumb.jpg"},{"href":"http://images-assets.nasa.gov/image/as11-40-5874/metadata.json"}],"href":"https://images-api.nasa.gov/asset/as11-40-5874","version":"1.0"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/asset/1
  response:
    body:
      string: '{"reason":"Could not find Asset with assetid=1"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
