interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/mdesign.api?class=True&des=1
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Mission Design API","version":"1.0"},"object":{"data_arc":"8822","md_orbit_id":"46","orbit_class":"Main-belt
        Asteroid","spkid":"2000001","condition_code":"0","orbit_id":"46","fullname":"1
        Ceres","des":"1"},"dv_lowthrust":{"sep":38.9794,"const":13.3679},"fields":["MJD0","MJDf","vinf_dep","vinf_arr","phase_ang","earth_dist","elong_arr","decl_dep","approach_ang","tof"],"selectedMissions":[[64594,64759,12.2451,21.06,11.94,2.3581,94.29,37.98,101.93,165],[65079,65249,12.2346,18.2094,11.95,2.423,93.05,13.16,96.45,170],[63234,63519,12.232,6.863,57.52,3.6197,10.34,42.91,142.72,285],[58569,58979,12.2314,5.9238,78.78,3.0567,75.48,-43.07,150.01,410],[61164,62589,12.229,6.1536,55.88,3.936,9.3,-73.28,141.8,1425],[64439,65864,12.2003,6.2538,57.76,3.9421,11.44,-66.57,140.59,1425],[62264,62494,12.1917,15.4908,13.44,3.4234,55.67,-56.36,103.17,230],[60864,61064,12.1806,18.2811,10.36,3.0718,69.0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/mdesign.api?class=False&sstr=apophis
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Mission Design API","version":"1.0"},"object":{"data_arc":"3946","md_orbit_id":"199","orbit_class":"ATE","spkid":"2099942","condition_code":"0","orbit_id":"199","fullname":"99942
        Apophis (2004 MN4)","des":"99942"},"dv_lowthrust":{"sep":4.32675,"const":4.79339},"fields":["MJD0","MJDf","vinf_d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/mdesign.api?class=False&spk=2000433
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Mission Design API","version":"1.0"},"object":{"data_arc":"45762","md_orbit_id":"656","orbit_class":"AMO","spkid":"2000433","condition_code":"0","orbit_id":"656","fullname":"433
        Eros (A898 PA)","des":"433"},"dv_lowthrust":{"sep":13.0048,"const":9.32133},"fields":["MJD0","MJDf","vinf_dep","vin[...]
