interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/mdesign.api?class=True&des=1
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Small-Body Mission Design API","version":"1.1"},"md_constraints":{"class":"true","des":"1"},"object":{"data_arc":"9520","md_orbit_id":"48","orbit_class":"Main-belt
        Asteroid","spkid":"2000001","condition_code":"0","orbit_id":"48","fullname":"1
        Ceres (A801 AA)","des":"1"},"modified":"2021-04-16 00:23:08 PDT","dv_lowthrust":{"sep":38.8809,"const":13.3605},"fields":["MJD0","MJDf","vinf_dep","vinf_arr","phase_ang","earth_dist","elong_arr","decl_dep","approach_ang","tof"],"selectedMissions":[[64594,64759,12.2451,21.06,11.94,2.3581,94.29,37.98,101.93,165],[65079,65249,12.2346,18.2094,11.95,2.423,93.05,13.16,96.45,170],[63234,63519,12.232,6.863,57.52,3.6197,10.34,42.91,142.72,285],[61164,62589,12.229,6.1536,55.88,3.936,9.3,-73.28,141.8,1425],[64439,65864,12.2003,6.2538,57.76,3.9421,11.44,-66.57,140.59,1425],[62264,62494,12.1917,15.4908,13.44,3.4234,55.67,-56.36,103.17,230],[60864,61064,12.1806,18.2811,10.36,3.0718,69.08,-25.87,103.68,200],[65989,66179,12.1777,19.9226,9.7,2.8107,80.62[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/mdesign.api?class=False&sstr=apophis
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Small-Body Mission Design API","version":"1.1"},"md_constraints":{"sstr":"apophis","class":"false"},"object":{"data_arc":"6267","md_orbit_id":"216","orbit_class":"ATE","spkid":"2099942","condition_code":"0","orbit_id":"216","fullname":"99942
        Apophis (2004 MN4)","des":"99942"},"modified":"2021-06-29 21:12:21 PDT","dv_lowthrust":{"sep":4.33327,"const":4.79938},"fields":["MJD0","MJDf","vinf_dep","vinf_arr","phase_ang","earth_dist","elong_arr","decl_dep","approach_ang","tof"],"selectedMissions":[[65909,66189,12.2394,17.7169,172.53,1.8599,25.79,-9.9,107.97,280],[6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/mdesign.api?class=False&spk=2000433
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Small-Body Mission Design API","version":"1.1"},"md_constraints":{"class":"false","spk":"2000433"},"object":{"data_arc":"46582","md_orbit_id":"659","orbit_class":"AMO","spkid":"2000433","condition_code":"0","orbit_id":"659","fullname":"433
        Eros (A898 PA)","des":"433"},"modified":"2021-05-25 02:10:49 PDT","dv_lowthrust":{"sep":13.0074,"const":9.32369},"fields":["MJD0","MJDf","vinf_dep","vinf_arr","phase_ang","earth_dist","elong_arr","decl_dep","approach_ang","tof"],"selectedMissions":[[62499,62724,12.2416,9.0267,21.93,0.7711,168.15,-30.99,106.57,225],[64769,64949,12.2354,11.[...]
