interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/nhats.api?dv=12&dur=450&stay=8&launch=2020-2045&plot=False
  response:
    body:
      string: '{"count":"2753","signature":{"source":"NASA/JPL NHATS Data API","version":"1.3"},"data":[{"min_size":"398","occ":"0","n_via_traj":"1583","min_dv":{"dv":"10.370","dur":"426"},"size":330,"radar_snr_a":"870","obs_mag":"20.61","orbit_id":"121","h":"18.2","obs_flag":"
        ","obs_end":"2020-01-24","min_dur":{"dv":"11.930","dur":"146"},"radar_snr_g":"2700","radar_obs_a":"2021-11-22","obs_start":"2019-11-21","radar_obs_g":"2021-12-12","fullname":"  4660
        Nereus (1982 DB)","des":"4660","max_size":"1782"},{"min_size":"272","occ":"0","n_via_traj":"17332","min_dv":{"dv":"9.135","dur":"362"},"size":300,"radar_snr_a":"190","obs_mag":"14.30","orbit_id":"132","h":"19.0","obs_flag":"
        ","obs_end":"2021-11-26","min_dur":{"dv":"11.987","dur":"282"},"radar_snr_g":"69","radar_obs_a":"2021-11-03","obs_start":"2021-04-29","radar_obs_g":"2021-11-15","fullname":"  3361
        Orpheus (1982 HR)","des":"3361","max_size":"1216"},{"min_size":"240","occ":"0","n_via_traj":"33017","min_dv":{"dv":"9.602","dur":"410"},"radar_snr_a":"420","obs_mag":"21.78","orbit_id":"106","h":"19.3","obs_flag":"
        ","obs_end":"2020-01-23","min_dur":{"dv":"11.971","dur":"194"},"radar_snr_g":"22","radar_obs_a":"2022-06-07","obs_start":"2019-11-21","radar_obs_g":"2022-06-30","fullname":"
        10302 (1989 ML)","des":"10302","max_size":"1074"},{"min_size":"3.8","occ":"0","n_via_traj":"1307784","min_dv":{"dv":"4.425","dur":"386"},"radar_snr_a":null,"obs_mag":"22.47","orbit_id":"11","h":"28.3","obs_flag":"
        ","obs_end":"2039-06-22","min_dur":{"dv":"11.843","dur":"74"},"radar_snr_g":null,"radar_obs_a":null,"obs_start":"2039-05-10","radar_obs_g":null,"fullname":"       (1991
        VG)","des":"1991 VG","max_size":"17"},{"min_size":"795","occ":"0","n_via_traj":"24","min_dv":{"dv":"11.162","dur":"370"},"size":929,"radar_snr_a":"16","size_sigma":35,"obs_mag":"15.17","orbit_id":"379","h":"16.7","obs_flag":"
        ","obs_end":"2021-05-06","min_dur":{"dv":"11.904","dur":"346"},"radar_snr_g":"69","radar_obs_a":"2020-02-14","obs_start":"2019-11-21","radar_obs_g":"2025-08-02","fullname":"
        35107 (1991 VH)","des":"35107","max_size":"3556"},{"min_size":"174","occ":"0","n_via_traj":"3436","min_dv":{"dv":"10.304","dur":"378"},"radar_snr_a":"12","obs_mag":"21.86","orbit_id":"99","h":"20.0","obs_flag":"
        ","obs_end":"2022-04-04","mi[...]
