interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/nhats.api?dv=12&dur=450&stay=8&launch=2020-2045&plot=False
  response:
    body:
      string: '{"count":"3726","signature":{"source":"NASA/JPL NHATS Data API","version":"1.3"},"data":[{"min_size":"17","occ":"6","n_via_traj":"9060","min_dv":{"dv":"10.270","dur":"450"},"radar_snr_a":null,"obs_mag":"23.83","orbit_id":"21","h":"25.1","obs_flag":"S","obs_end":"2024-04-08","min_dur":{"dv":"11.891","dur":"210"},"radar_snr_g":null,"radar_obs_a":null,"obs_start":"2024-04-02","radar_obs_g":null,"fullname":"       (2010
        PS66)","des":"2010 PS66","max_size":"74"},{"min_size":"83","occ":"0","n_via_traj":"10245","min_dv":{"dv":"8.399","dur":"362"},"radar_snr_a":"330","obs_mag":"21.56","orbit_id":"48","h":"21.6","obs_flag":"
        ","obs_end":"2023-09-27","min_dur":{"dv":"11.851","dur":"130"},"radar_snr_g":null,"radar_obs_a":"2031-09-06","obs_start":"2023-01-19","radar_obs_g":null,"fullname":"429389
        (2010 PR10)","des":"429389","max_size":"372"},{"min_size":"8.3","occ":"7","n_via_traj":"5","min_dv":{"dv":"11.417","dur":"362"},"radar_snr_a":null,"obs_mag":null,"orbit_id":"8","h":"26.6","obs_flag":"
        ","obs_end":null,"min_dur":{"dv":"11.996","dur":"354"},"radar_snr_g":null,"radar_obs_a":null,"obs_start":null,"radar_obs_g":null,"fullname":"       (2010
        PH9)","des":"2010 PH9","max_size":"37"},{"min_size":"21","occ":"7","n_via_traj":"3313","min_dv":{"dv":"10.528","dur":"362"},"radar_snr_a":null,"obs_mag":"20.32","orbit_id":"10","h":"24.6","obs_flag":"S","obs_end":"2022-08-05","min_dur":{"dv":"11.940","dur":"330"},"radar_snr_g":null,"radar_obs_a":null,"obs_start":"2022-05-29","radar_obs_g":null,"fullname":"       (2010
        MB)","des":"2010 MB","max_size":"94"},{"min_size":"11","occ":"8","n_via_traj":"24374","min_dv":{"dv":"8.524","dur":"370"},"size":13,"radar_snr_a":null,"size_sigma":1,"obs_mag":null,"orbit_id":"7","h":"26.0","obs_flag":"
        ","obs_end":null,"min_dur":{"dv":"11.989","dur":"282"},"radar_snr_g":null,"radar_obs_a":null,"obs_start":null,"radar_obs_g":null,"fullname":"       (2010
        KV7)","des":"2010 KV7","max_size":"49"},{"min_size":"23","occ":"2","n_via_traj":"776043","min_dv":{"dv":"4.839","dur":"410"},"radar_snr_a":null,"obs_mag":"22.87","orbit_id":"25","h":"24.4","obs_flag":"
        ","obs_end":"2033-06-06","min_dur":{"dv":"11.643","dur":"106"},"[...]
