interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api
  response:
    body:
      string: '{"count":"32","signature":{"source":"NASA/JPL Scout API","version":"1.2"},"data":[{"neo1kmScore":"0","lastRun":"2019-12-07
        23:37","uncP1":"10","dec":"+40","neoScore":"80","rating":"0","rate":"2.9","unc":"4.1","phaScore":"3","ra":"09:13","elong":"125","nObs":"8","arc":"9.07","tEphem":"2019-12-09
        14:15","objectName":"A10izBe","tisserandScore":"50","caDist":null,"vInf":null,"H":"19.7","rmsN":"0.40","ieoScore":"0","geocentricScore":"0","moid":"0.3","Vmag":"20.1"},{"neo1kmScore":"0","lastRun":"2019-12-09
        13:41","uncP1":"0.03","dec":"+70","neoScore":"100","rating":"0","rate":"5.0","unc":"0.01","phaScore":"35","ra":"08:59","elong":"122","nObs":"49","arc":"44.98","tEphem":"2019-12-09
        14:15","objectName":"A10izBm","tisserandScore":"0","caDist":null,"vInf":null,"H":"19.4","rmsN":"0.14","ieoScore":"0","geocentricScore":"0","moid":"0.05","Vmag":"17.2"},{"neo1kmScore":"0","lastRun":"2019-12-07
        18:01","uncP1":"4300","dec":"-23","neo[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&plot=el%3Aca
  response:
    body:
      string: '{"error":"specified object does not exist"}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&orbits=True
  response:
    body:
      string: '{"error":"specified object does not exist"}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&eph-start=now
  response:
    body:
      string: '{"error":"specified object does not exist"}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
