interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api
  response:
    body:
      string: '{"count":"52","signature":{"source":"NASA/JPL Scout API","version":"1.2"},"data":[{"neo1kmScore":"100","lastRun":"2020-01-04
        02:17","uncP1":"0.01","dec":"-27","neoScore":"100","rating":"0","rate":"1.9","unc":"0.01","phaScore":"0","ra":"23:40","elong":"63","nObs":"120","arc":"452.49","tEphem":"2020-01-04
        14:30","objectName":"A10iMHA","tisserandScore":"100","caDist":null,"vInf":null,"H":"14.9","rmsN":"0.70","ieoScore":"0","geocentricScore":"0","moid":"0.08","Vmag":"18.3"},{"neo1kmScore":"0","lastRun":"2020-01-04
        02:57","uncP1":"0.01","dec":"+27","neoScore":"100","rating":"0","rate":"0.8","unc":"0.01","phaScore":"100","ra":"04:46","elong":"150","nObs":"232","arc":"329.92","tEphem":"2020-01-04
        14:30","objectName":"A10iY9L","tisserandScore":"100","caDist":"12","vInf":"30.4","H":"21.9","rmsN":"0.42","ieoScore":"0","geocentricScore":"0","moid":"0.03","Vmag":"21.1"},{"neo1kmScore":"100","lastRun":"2020-01-04
        07:32","uncP1":"0.01","dec":"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&plot=el%3Aca
  response:
    body:
      string: '{"error":"specified object does not exist"}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&orbits=True
  response:
    body:
      string: '{"error":"specified object does not exist"}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&eph-start=now
  response:
    body:
      string: '{"error":"specified object does not exist"}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
