interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api
  response:
    body:
      string: '{"count":"40","signature":{"source":"NASA/JPL Scout API","version":"1.2"},"data":[{"neo1kmScore":"0","lastRun":"2021-07-13
        17:46","uncP1":"110","dec":"-37","neoScore":"69","rating":null,"rate":"0.7","unc":"95","phaScore":"21","ra":"18:37","elong":"154","nObs":"3","arc":"0.25","tEphem":"2021-07-22
        18:15","objectName":"1771612","tisserandScore":"54","caDist":null,"vInf":null,"H":"20.1","rmsN":"0.67","ieoScore":"0","geocentricScore":"0","moid":"0.1","Vmag":"19.3"},{"neo1kmScore":"0","lastRun":"2021-07-19
        09:56","uncP1":"15","dec":"+24","neoScore":"100","rating":"0","rate":"5.1","unc":"18","phaScore":"0","ra":"08:21","elong":"5","nObs":"12","arc":"6.32","tEphem":"2021-07-22
        18:15","objectName":"17I1521","tisserandScore":"0","caDist":"0.51","vInf":"13.9","H":"27.7","rmsN":"0.58","ieoScore":"0","geocentricScore":"0","moid":"0.0007","Vmag":"45.1"},{"neo1kmScore":"0","lastRun":"2021-07-17
        15:26","uncP1":"290","dec":"-71","neoSco[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&plot=el%3Aca
  response:
    body:
      string: '{"error":"specified object does not exist"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&orbits=True
  response:
    body:
      string: '{"error":"specified object does not exist"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/scout.api?tdes=P20UvyK&eph-start=now
  response:
    body:
      string: '{"error":"specified object does not exist"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
