interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/sentry.api?all=False&removed=False
  response:
    body:
      string: '{"count":"973","signature":{"source":"NASA/JPL Sentry Data API","version":"1.1"},"data":[{"ip":"7.36e-07","range":"2056-2113","ps_cum":"-2.82","diameter":"0.662","ps_max":"-3.12","h":"18.53","last_obs":"1979-Dec-15.42951","v_inf":"23.9194972826087","fullname":"(1979
        XB)","n_imp":"2","last_obs_jd":"2444222.92951","ts_max":"0","id":"bJ79X00B","des":"1979
        XB"},{"ip":"1.08863532e-05","range":"2023-2115","ps_cum":"-6.03","diameter":"0.00606","ps_max":"-6.14","h":"28.74","last_obs":"1991-Jan-18.41914","v_inf":"17.2255979495503","fullname":"(1991
        BA)","n_imp":"46","last_obs_jd":"2448274.91914","ts_max":"0","id":"bJ91B00A","des":"1991
        BA"},{"ip":"4.5048e-07","range":"2065-2112","ps_cum":"-7.42","diameter":"0.014","ps_max":"-7.63","h":"26.95","last_obs":"1993-Apr-27.42495","v_inf":"9.84276549458355","fullname":"(1993
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/sentry.api?des=99942
  response:
    body:
      string: '{"summary":{"energy":"1.151e+03","darc":"3635.5 days","ip":"8.8501299e-06","h":"19.10","nobs":"4147","mass":"6.08e+10","v_inf":"5.85","first_obs":"2004-Mar-15.126289","method":"LOV","pdate":"2016-03-25
        11:44:59","ndop":"7","cdate":"2016-03-25 11:44:59","ps_cum":"-2.83","diameter":"0.37","ndel":"13","v_imp":"12.62","ps_max":"-2.93","last_obs":"2014-Feb-26.64670","fullname":"99942
        Apophis (2004 MN4)","n_imp":"12","ts_max":"0","nsat":"0","des":"99942"},"signature":{"source":"NASA/JPL
        Sentry Data API","version":"1.1"},"data":[{"energy":"1.152e+03","width":"0.000","ip":"1.0e-07","ts":"0","stretch":"6.60e+06","date":"2060-04-12.55","dist":"0.640","sigma_lov":"0.872","sigma_imp":"0.000","ps":"-4.68"},{"energy":"1.151e+03","width":"0.000","ip":"2.6e-07","ts":"0","stretch":"4.15e+06","date":"2065-04-11.77","dist":"0.168","sigma_lov":"0.923","sigma_imp":"0.000","ps":"-4.32"},{"energy":"1.151e+03","width":"0.000","ip":"6.7e-06","ts":"0","stretch":"1.31e+05","date":"2068-04-12.64","dist":"0.017","sigma_lov":"1.007","sigma_imp":"0.000","ps":"-2.93"},{"energy":"1.151e+03","width":"0.000","ip":"7.9e-12","ts":"0","stretch":"1.88e+06","date":"2068-10-15.40","dist":"0.505","sigma_lov":"4.773",[...]
[...]
