interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/sentry.api?all=False&removed=False
  response:
    body:
      string: '{"count":"1227","signature":{"source":"NASA/JPL Sentry Data API","version":"1.1"},"data":[{"ip":"8.488e-07","range":"2056-2113","ps_cum":"-2.74","diameter":"0.659","ps_max":"-3.08","h":"18.54","last_obs":"1979-Dec-15.42951","v_inf":"23.7268685202639","fullname":"(1979
        XB)","n_imp":"3","last_obs_jd":"2444222.92951","ts_max":"0","id":"bJ79X00B","des":"1979
        XB"},{"ip":"4.5799e-07","range":"2065-2112","ps_cum":"-7.38","diameter":"0.014","ps_max":"-7.58","h":"26.95","last_obs":"1993-Apr-27.42495","v_inf":"9.84807222865128","fullname":"(1993
        HP1)","n_imp":"4","last_obs_jd":"2449104.92495","ts_max":"0","id":"bJ93H01P","des":"1993
        HP1"},{"ip":"8.399e-07","range":"2111-2111","ps_cum":"-6.62","diameter":"0.028","ps_max":"-6.78","h":"25.44","last_obs":"1993-Oct-24.48365","v_inf":"9.39606024526729","fullname":"(1993
        UA)[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ssd-api.jpl.nasa.gov/sentry.api?des=99942
  response:
    body:
      string: '{"signature":{"source":"NASA/JPL Sentry Data API","version":"1.1"},"removed":"2021-03-26
        15:06:13","error":"specified object removed"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
