interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.ivanstanojevic.me/api/tle
  response:
    body:
      string: '{"@context":"http:\/\/www.w3.org\/ns\/hydra\/context.jsonld","@id":"https:\/\/data.ivanstanojevic.me\/api\/tle","@type":"Collection","totalItems":7505,"member":[{"@id":"https:\/\/data.ivanstanojevic.me\/api\/tle\/43553","@type":"TleModel","satelliteId":43553,"name":"1998-067PB","date":"2019-10-15T22:51:07+00:00","line1":"1
        43553U 98067PB  19288.95217580  .00011878  00000-0  13641-3 0  9998","line2":"2
        43553  51.6390 102.3696 0005924 228.5874 131.4612 15.62510560 71680"},{"@id":"https:\/\/data.ivanstanojevic.me\/api\/tle\/43554","@type":"TleModel","satelliteId":43554,"name":"1998-067PC","date":"2019-10-15T17:05:56+00:00","line1":"1
        43554U 98067PC  19288.71246029  .00019458  00000-0  18675-3 0  9997","line2":"2
        43554  51.6354  97.6746 0005508 233.9777 126.0709 15.66618928 71254"},{"@id":"https:\/\/data.ivanstanojevic.me\/api\/tle\/43598","@type":"TleModel","satelliteI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.ivanstanojevic.me/api/tle/43553
  response:
    body:
      string: '{"@id":"https:\/\/data.ivanstanojevic.me\/api\/tle\/43553","@type":"TleModel","satelliteId":43553,"name":"1998-067PB","date":"2019-10-15T22:51:07+00:00","line1":"1
        43553U 98067PB  19288.95217580  .00011878  00000-0  13641-3 0  9998","line2":"2
        43553  51.6390 102.3696 0005924 228.5874 131.4612 15.62510560 71680"}'
    headers:
      Content-Type:
      - application/json
      Upgrade:
      - h2,h2c
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://data.ivanstanojevic.me/api/tle?search=1998-067PB
  response:
    body:
      string: '{"@context":"http:\/\/www.w3.org\/ns\/hydra\/context.jsonld","@id":"https:\/\/data.ivanstanojevic.me\/api\/tle","@type":"Collection","totalItems":7505,"member":[{"@id":"https:\/\/data.ivanstanojevic.me\/api\/tle\/43553","@type":"TleModel","satelliteId":43553,"name":"1998-067PB","date":"2019-10-15T22:51:07+00:00","line1":"1
        43553U 98[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.ivanstanojevic.me/api/tle/1
  response:
    body:
      string: '{"response":{"code":404,"message":"Unable to find record with id 1"}}'
    headers:
      Content-Type:
      - application/json
      Upgrade:
      - h2,h2c
    status:
      code: 404
      message: Not Found
version: 1
